/*TITULOS: Parametros principais */
h1{
    text-align: center;
}

/*PARAGRAFOS: Parametros principais */
p{
    margin: 0px;
}

/*DIV PRINCIPAL: Parametros principais */
.principal{
    border: solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*DADOS ENTRADA: Parametros principais */
.dados-entrada{
    border: solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

/*GERAL: Largura geral para todos os campos com entrada de dados */
input{
    width: 30%;
}

/*DADOS ENTRADA: Textos */
.dados-entrada label{
    display: inline-block; /*Permite definir uma largura e altura do elemento */
    width: 90px; /*Largura dos campos de texto */
}

/*DADOS ENTRADA: largura interna das div do conjunto de campos */
.dados-taxa, .dados-deposito, .dados-periodo{
    border: solid blue;
    display: flex;
    flex-direction: row; 
}

/*DADOS ENTRADA: largura interna das div de cada campo */
.dados-valor-inicial, .dados-valor-mensal, .dados-taxa-juros, .dados-taxa-inflacao, .periodo-investimento{
    width: 50%;
    border: solid rgb(255, 150, 1);
}

/* DADOS ENTRADA: Botões de entrada*/
.botoes-entrada{
    display: flex;
    justify-content: center; /*Ajustar conteudos ao centro*/
    margin: 20px;
}

/*DADOS SAIDA: Parametros principais */
.dados-saida{ /*Divs dos dados de saida*/
    border: solid black;
    display: flex; 
    flex-direction: row; /*Organizar em linhas */
    align-items: top; /*Alinha todas as divs ao topo */   
    gap: 10px; /*Espaço entre as divs */
}

/*DADOS SAIDA: Parametros principais das div de cada campo */
.dados-internos{
    flex: 1; /*Deixar todas as div do mesmo tamanho*/
    border: solid green;
    display: flex;
    flex-direction: column; /*Organizar em colunas */
}

/*DADOS SAIDA: largura interna das div de cada campo*/
.dados-saida .dados-internos input{
    width: 70%; /*Tamanho de 70% */
}

/*DADOS SAIDA: Paragrafo */
.dados-saida p{ 
    white-space: nowrap; /*Retirar quebra de linha de paragrafos*/ 
}

@media (max-width: 400px){
    .dados-taxa{
        flex-direction: column; /*Organizar em colunas */
    }
}